body {
	font-family: Arial; background-color: #C0C0C0;
}

.header {
	background-color: white; color: #666666; height: 90px; text-transform:uppercase;
}

.button {
	color: white; background-color: red; padding: 15px; margin: 15px; text-decoration: none;
}

.buttonlogin {
	color: red; background-color: pink; padding: 15px ; margin: 15px; border:5px
	
}

.logo {
	width: 70px; height: 70px; margin: 10px; float: left;
	}
.lowlogo {
	width: 120px; height: 120px; margin: 10px; float: left;
}
	
	
.menu{ background-color: white; color: #666666; width: 25%; margin:20px;
}	
	
.lowblock { background-color: gray; color: #black; height:140px; paddind: 20px;
}

.verticalalign90 {
  line-height: 90px;

}

.hreflow {
	color: #303030
}


.imgf {
	height: 40px; width:40px
}

.imgyou {
	height: 40px; width:71px
}

.leftblock {
	background-color: white ; height: 700px ;
}

.product {
	height: 350px; background-color: white; padding:20px;
}